.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 55px;
  padding: 20px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 4em;
  color: #6067f1;
}

.App-intro {
  font-size: large;
}

.App-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: white;
}

#turquoise {
  background-color: turquoise;
}

#app-head-container {
  display: flex;
  height: 86vh;
  justify-content: center;
  align-items: center;
  background-color:#66e6d9;
  min-height: 100%;
}

.arrow-down {
  position: absolute;
  right: 50%;
  bottom: 3%;
  background-color: lightgray;
  border-radius: 20px;
  z-index: 1000;
}
.arrow-down:hover {
  cursor: pointer;
}

.lendText {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #6067f1;
}

#qr-container {
  text-align: center;
}

.lendTextContainer {
  width: 450px;
}

.lendContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondText {
  width: 522px;
}

.firstContainer {
  margin-left: 57px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
