.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 55px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #6067f1;
}

.App-intro {
  font-size: large;
}

.App-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-head-container {
  display: flex;
}

.lendText {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #6067f1;
}

.lendTextContainer {
  width: 450px;
}

.lendContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondText {
  width: 522px;
}

.firstContainer {
  margin-left: 57px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
